useDynLib(student, .registration = TRUE)


### Imports ####################################################################

importFrom("stats",
           "rnorm", "pt", "qt", "rgamma",
           "sd")
importFrom("qrng", "sobol")


### Exports ####################################################################

export("dStudent", "pStudent", "rStudent")
export("factorize")
