useDynLib(student, .registration = TRUE)


### Imports ####################################################################

importFrom("stats",
           "rnorm", "pt", "qt", "rgamma",
           "sd")


### Exports ####################################################################

export("pstudent", "rstudent")
export("factorize")
